lib/
source/CMS/App_Data/
source/CMS/bin/*
source/UpgradeLog* 
source/CMS/obj/
source/CMS.sln
source/CMS.v11.suo
source/.vs/
source/CMS/CMS.csproj.user
source/CMS/CMS*
source/CMS/.CMS*
source/_UpgradeReport_Files/
!source/CMS/CMSLogic/
!source/CMS/CMS.csproj
!source/CMS/bin/AjaxControlToolkit.dll
!source/CMS/bin/JQControls.dll
!source/CMS/bin/tkvUtility.dll
!source/CMS/bin/App_Web_*
!source/CMS/bin/DropDownCheckBoxes.dll
!source/CMS/bin/AccessManagementService.dll
source/Viralme/obj/
source/Viralme/bin/*
source/CMS/Properties/
publish/
*.orig
detail.txt

 

